/* 游 Variables globales para Light & Dark */
:root {
  --font-size: 12px; /* Aqu칤 defines el tama침o base de la fuente */
  --line-height: 1.5;
  --bg-menu: #ffffff;
  --shadow-menu: 0px 4px 10px rgba(0, 0, 0, 0.1);
  --text-color: #333;
  --item-bg-hover: rgba(0, 123, 255, 0.1);
  --icon-color: #007bff;
}

/* 游깿 Modo oscuro */
.dark {
  --bg-menu: #1e1e1e;
  --shadow-menu: 0px 4px 10px rgba(255, 255, 255, 0.1);
  --text-color: #f5f5f5;
  --item-bg-hover: rgba(0, 123, 255, 0.3);
  --icon-color: #1e90ff;
}

/* Aplicar la variable globalmente */
body, html {
  font-size: var(--font-size);  /* Usa la variable para el tama침o de fuente */
  line-height: var(--line-height);  /* Usa la variable para la altura de l칤nea */
  font-family: 'Arial', sans-serif;  /* Puedes elegir la fuente que prefieras */
  height: 100%;
  overflow: hidden; /* Evita scroll innecesario en toda la p치gina */
}

/* Ajustar tama침os de fuente en los elementos */
h1, h2, h3, h4, h5, h6 {
  font-size: 1.2em;  /* Puedes ajustar el tama침o de los encabezados si es necesario */
}

p, span, div, label, .p-text-center, .p-field, .p-button {
  font-size: var(--font-size);  /* Usa la variable para el tama침o de fuente */
}

.p-button {
  font-size: var(--font-size);  /* Ajusta el tama침o de fuente del bot칩n */
}

.p-inputtext {
  font-size: var(--font-size);  /* Ajusta el tama침o de fuente del campo de entrada */
}
